.reveal h1 {
  font-size: 56px; /* Adjust the size as needed */
}

.reveal h2 {
  font-size: 48px; /* Adjust the size as needed */
}

.reveal .caption {
  display: none;
}

.reveal section {
  font-size: 3vw;
}

.reveal .slides section img {
  width: 100%;       // Ensures that the image is responsive
  height: auto;      // Keeps image aspect ratio intact
  display: block;    // Removes bottom space/gap
}
